.header {
    padding: 10px 15px;
    text-align: justify;
    background-color: #ADC0CE;
}

.header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.block {
    display: inline-block;
}

.header form {
    margin-block-end: 2px;
}

.left-block div {
    white-space: nowrap;
    float: left;
    min-width: 60%;
}

.right-block div {
    flex: 0 90 auto;
    float: right;
}

.menu {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    /*box-shadow: 0 9px 9px 0 #024222;*/
}

a {
    text-decoration: none;
}

.menu ul {
    list-style: none;
    background: #D4E7EE;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(173, 192, 206, .3);
    color: #29838C;
}

.menu a:hover {
    background: #ADC0CE
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: url("/picture/background.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.total-error {
    background-color: #fe9b9e;
    text-align: center;
    color: #5d4040;
}

.total-message {
    background-color: rgba(149, 254, 90, 0.27);
    text-align: center;
    color: #024222;
}

.field-error {
    color: red;
    font-size: small;
}

.content {
    flex: 1 0 auto;
}

.col-name {
    text-align: right;
}

.center-form {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.center-form h3 {
}

.center-form form {
    width: fit-content;
    padding: 20px;
    background-color: aliceblue;
}

.footer {
    bottom: 0;
    background-color: #ADC0CE;
}

.footer div {
    display: inline-block;
}
